{% extends 'layout.twig' %}

{% block body %}
  <h1>Express.js and stripe example app</h1>
  <ul>
    <li>Authentication via passport using Auth0</li>
    <li>Payments via Stripe using capture and refunds</li>
  </ul>
{% endblock %}
